@font-face {
font-family: "Mosk Extra Bold";
src: url("fonts/MoskExtraBold.ttf");
}
@font-face {
font-family: "Mosk Thin";
src: url("fonts/MoskThin.ttf");
}


h1 {
  font-size: 40px;
  font-family:'Mosk Extra Bold', Fallback, sans-serif;
}

h2 {
  font-size: 40px;
  font-family:'Mosk Extra Bold', Fallback, sans-serif;
}

body {
  font-size: 30px;
  background-color: #f1edc4;
  font-family:'Mosk Thin', Fallback, sans-serif;
  color: #000000;
}
.main-column {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}


a:link {
  font-size: 25px;
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #8052a1;
}

a:active {
  text-decoration: none;
  color: #000000;
}
.title p {
    opacity: 0;
    margin-top: 25px;
    font-size: 30px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}​
